body{
margin:0;
font-family:Arial;

background-image:url("./assets/background.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;
}

.app{
text-align:center;
padding:30px;
min-height:100vh;
color:white;
background:rgba(0,0,0,0.35);
}

.dark{
background:rgba(0,0,0,0.8);
}

h1{
font-size:38px;
margin-bottom:10px;
}

/* theme */

.theme-btn{
padding:8px 14px;
border:none;
border-radius:6px;
margin-bottom:15px;
cursor:pointer;
}

/* progress */

.progress-box{
width:320px;
margin:auto;
margin-bottom:20px;
}

.progress-bar{
background:#ddd;
height:12px;
border-radius:10px;
}

.progress-fill{
background:#4CAF50;
height:12px;
border-radius:10px;
}

/* search */

.search-box input{
padding:8px;
width:240px;
border:none;
border-radius:6px;
margin-bottom:20px;
}

/* input */

.task-input{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
margin-bottom:30px;
}

.task-input input,
.task-input select{
padding:8px;
border-radius:6px;
border:none;
}

.task-input button{
padding:8px 14px;
border:none;
border-radius:6px;
background:#4CAF50;
color:white;
cursor:pointer;
}

/* board */

.board{
display:flex;
justify-content:center;
gap:25px;
}

/* column */

.column{
width:260px;
padding:15px;
border-radius:12px;
background:rgba(255,255,255,0.25);
backdrop-filter:blur(10px);
}

.column-header{
display:flex;
justify-content:space-between;
align-items:center;
}

/* group */

.deadline-group{
background:rgba(255,255,255,0.3);
padding:10px;
border-radius:8px;
margin-bottom:15px;
}

/* task */

.task{
background:white;
color:black;
padding:10px;
border-radius:6px;
margin-top:8px;
cursor:grab;
transition:all 0.25s;
}

.task:hover{
transform:scale(1.03);
box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.task-header{
display:flex;
align-items:center;
gap:6px;
}

/* priority */

.dot{
height:10px;
width:10px;
border-radius:50%;
}

.high{background:red;}
.medium{background:orange;}
.low{background:green;}

/* warning */

.warning{
color:red;
font-size:12px;
font-weight:bold;
}

/* buttons */

.task-buttons{
margin-top:6px;
display:flex;
gap:6px;
}

.task-buttons button{
border:none;
padding:5px 8px;
border-radius:4px;
cursor:pointer;
}